/* * {
  border: thin red solid;
} */

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fffffe;
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover; /* avoid warping image*/
  border-radius: 128px; /* turn picture to circular*/
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.name {
  color: #33272a;
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: space-around;
}

.social-icons a{
  color: #ff8ba7;
  text-decoration: none;
}

.links {
  background-color: #faeee7;
  display: flex;
  align-items: center;
  padding: 5px;
}

.links a {
  color:#ff8ba7;
  text-decoration: none;
  text-align: center;
  flex-grow: 1
}

.items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
  flex-grow: 1;
}
